<h1>Rating</h1>

<div class="container">
  <div class="row sec">
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="currentName" />
    </div>
    <div class="col-4">


      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="currentRating">
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" [value]="1"> 1
        </label>
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" [value]="2"> 2
        </label>
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" [value]="3"> 3
        </label>
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" [value]="4"> 4
        </label>
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" [value]="5"> 5
        </label>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-outline-primary btn-add-rating" (click)="add()">
        Add rating
      </button>
    </div>
  </div>
</div>

<hr />

<p *ngIf="!ratings"><em>Loading...</em></p>

<div class="container">
  <div class="row sec" *ngFor="let rating of ratings">
    <div class="col">
      {{ rating.name }}
    </div>
    <div class="col-5">
      <div class="btn-group btn-group-toggle btn-group-edit-rating" ngbRadioGroup name="radioBasic" [(ngModel)]="rating.rating" (change)="update(rating)">
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" [value]="1"> 1
        </label>
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" [value]="2"> 2
        </label>
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" [value]="3"> 3
        </label>
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" [value]="4"> 4
        </label>
        <label ngbButtonLabel class="btn-outline-primary">
          <input ngbButton type="radio" [value]="5"> 5
        </label>
      </div>
    </div>
    <div class="col-1">
      <button class="btn btn-remove-rating" (click)="delete(rating)">
        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path stroke="null" id="svg_1" d="m2.9348,22.44767zm-1.89336,-21.65865a1.2231,1.2231 0 0 0 0,1.73191l5.25199,5.24954l-5.25199,5.24954a1.2231,1.2231 0 0 0 1.72946,1.73191l5.25199,-5.25199l5.24954,5.25199a1.2231,1.2231 0 0 0 1.72946,-1.73191l-5.24954,-5.24954l5.24954,-5.24954a1.2231,1.2231 0 0 0 -1.72946,-1.73191l-5.24954,5.25199l-5.25199,-5.25199a1.2231,1.2231 0 0 0 -1.72946,0z" fill-rule="evenodd"/>
        </svg>
      </button>
    </div>
  </div>
</div>


